
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background: #f5f8ff;
  font-family: "Inter", sans-serif;
}
img {
  display: block;
  width: 100%;
  object-fit: contain;
}

:root {
  --primary-color: #e95a08;
  --secondary-color: #00000080;
  --dark-color: #111;
  --indigo: #8987a1;
}
/* shared style Start */
.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.mt-12 {
  margin-top: 120px;
}
.d-block {
  display: block;
} 
.primary-text {
  color: #e95a08;
}
.primary-title {
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}
.primary-description {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

/* navbar styling Start */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
}

.logo {
  display: inline-block;
  width: 8.4375rem;
  height: 4.4375rem;
}
.nav-links,
.nav-for-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-link {
  color: var(--dark-color);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.nav-link:hover {
  color: var(--indigo);
  font-weight: 500;
  transition: all 0.3s;
}
.nav-for-mobile {
  display: none;
}
/* Banner style start  */
.banner-content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

.banner-headings > .banner-heading {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 6rem;
}
.banner-headings > .banner-description {
  margin-top: 1rem;
  color: #00000050;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

/* mobile responsive */

@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }
  .nav-for-mobile {
    display: block;
  }
  .nav-link {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .nav-link > .fa-cart-shopping {
    margin-right: 1rem;
  }
  .nav-content img {
    width: 20%;
  }

 /* Banner Mobile Responsive  */
  .banner-content {
    flex-direction: column-reverse;
  }
  .banner-headings > .banner-heading {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  .banner-headings > .banner-description {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
