
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background: #f5f8ff;
  font-family: "Inter", sans-serif;
}
img {
  display: block;
  width: 100%;
  object-fit: contain;
}

:root {
  --primary-color: #e95a08;
  --secondary-color: #00000080;
  --dark-color: #111;
  --indigo: #8987a1;
}


/* Shared Style Start */
.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.mt-12 {
  margin-top: 120px;
}
.d-block {
  display: block;
} 
.primary-text {
  color: #e95a08;
}
.primary-title {
  font-family: "Noto Serif", serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}
.primary-description {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

/* Shared Style End */

/* Navbar styling Start */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
}

.logo {
  display: inline-block;
  width: 8.4375rem;
  height: 4.4375rem;
}
.nav-links,
.nav-for-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-link {
  color: var(--dark-color);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.nav-link:hover {
  color: var(--indigo);
  font-weight: 500;
  transition: all 0.3s;
}
.nav-for-mobile {
  display: none;
}
/* Navbar styling End */



/* Banner style start  */
.banner-content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

.banner-headings > .banner-heading {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 6rem;
}
.banner-headings > .banner-description {
  margin-top: 1rem;
  color: #00000050;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}
/* Banner style End  */


/* Product plant style Start */
.product-headings > .primary-description {
  max-width: 80%;
  margin: auto;
  margin-top: 1rem;
}
.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  column-gap: 1rem;
  row-gap: 2rem;
}
.product-item {
  text-align: center;
}

.product-price,
.product-title {
  color: var(--dark-color);
  font-family: "inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 1rem;
}
.product-title {
  font-weight: 500;
}
.product-btn {
  width: 100%;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
  padding: 1.2rem 0;
  margin-top: 1rem;
  border: none;
  outline: none;
}
/* product plant style End */


/* Mobile Responsive Style Start */



 /* Nav Mobile Responsive Start  */

@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }
  .nav-for-mobile {
    display: block;
  }
  .nav-link {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .nav-link > .fa-cart-shopping {
    margin-right: 1rem;
  }
  .nav-content img {
    width: 20%;
  }

  /* Nav Mobile Responsive End  */


 /* Banner Mobile Responsive Start  */
  .banner-content {
    flex-direction: column-reverse;
  }
  .banner-headings > .banner-heading {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  .banner-headings > .banner-description {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.4rem;
  }

   /* Banner Mobile Responsive End  */


  /* Mobile Responsive Product Item Start  */

   .product-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-headings > .primary-description {
    max-width: 100%;
    margin-top: 1rem;
    font-size: 16px;
    line-height: 24px;
  }
  .product-headings > .primary-title {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .product-price,
  .product-title {
    font-size: 18px;
    margin-top: 0.4rem;
  }
  .product-title {
    margin-top: 1rem;
  }
  .product-btn {
    font-size: 1rem;
    padding: 0.9rem 0;
  }
    /* Mobile Responsive Product Item End  */
}

